<mat-toolbar color="primary" class="header-toolbar">
  <div class="header-container">
    <div class="logo-section">
      <img src="/assets/images/logo/logo_comite_edited.jpg" alt="Logo Comité des Fêtes" class="logo-comite">
      <span class="title">Fêtes de Cieutat</span>
    </div>
    
    <nav class="desktop-nav">
      <a 
        *ngFor="let item of menuItems" 
        [routerLink]="item.route" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: item.route === '/'}"
        mat-button>
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </nav>

    <button mat-icon-button class="mobile-menu-button" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <a 
    *ngFor="let item of menuItems" 
    [routerLink]="item.route" 
    mat-menu-item>
    <mat-icon>{{ item.icon }}</mat-icon>
    <span>{{ item.label }}</span>
  </a>
</mat-menu>